&radio {
	status = "okay";
	// Number of utilized antennas in project
	dfe-antenna-num = <12>;
	// Enable antenna for Rx PDU
	dfe-pdu-antenna = <0x0>;
	// Direction Finding GPIO ANT SWITCH PINS
	dfegpio0-gpios = <&gpio0 2 0>;
	dfegpio1-gpios = <&gpio0 3 0>;
	dfegpio2-gpios = <&gpio0 4 0>;
	dfegpio3-gpios = <&gpio0 5 0>;
};

&uart0 {
	current-speed = <460800>;
};
